<!DOCTYPE html>
<html lang="en">

<body>

    <div id="id01" class="modal">
      <div class="modal-content animate">
        <div class="imgcontainer">
          <span class="close" title="Close Modal" (click)="cerrarModal()">&times;</span>
        </div>
        <!-- contenedor del formulario -->
        <div class="container">
          <label>
            <h4 *ngIf="tipoAccion==false"><strong>Registrar pais</strong></h4>
            <h4 *ngIf="tipoAccion==true"><strong>Editar pais</strong></h4>
          </label>
          <div *ngIf="error!=null" class="alert alert-danger" role="alert">
            {{error}}
          </div>
          <br>
          <br>
          <label><b>Nombre</b></label>
          <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Ingrese el nombre del pais" (keydown.enter)="guardarPais()" required>
        </div>
        <!-- contenedor de acciones o botones -->
        <div class="container" style="background-color:#e2e2e2ee">
          <button (click)="guardarPais()">Registrar</button>
          <button class="cancelbtn" (click)="cerrarModal()">Cancelar</button>
        </div>
      </div>
    </div>
    



  <!-- tabla de o lista de empleados -->
  <div>
    <h1 align='center'><strong>Paises</strong></h1>
    <br>
    <div class="botonNuevo">
      <button class="btn btn-primary" (click)="activarModal('crear')">Nuevo pais</button>
    </div>
    <br>

    <table class="table table-striped">
      <!-- titulo de las columnas -->
      <thead>
        <tr class="colums">
          <th scope="col">#</th> 
          <th scope="col">Nombre del pais</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>

      <!-- informacion de la tabla o listado de empleados -->
      <tbody>
        <tr *ngFor="let pais of listaTipos">
          <th scope="row">{{pais.Id}}</th>
          <td>{{pais.Descripcion}}</td>
          <td><button class="btn btn-primary" (click)="editar(pais.Id,pais.Descripcion)">Editar</button></td>
        </tr>
      </tbody>

    </table>
  </div>

</body>

</html> 