.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.verde{
  background-color: green;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.amarillo{
  background-color: yellow;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.rojo{
  background-color: red;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.gris{
  background-color: gray;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.negro{
  background-color: black;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.colores{
  margin-left: 5%;
  float: left;
}

.imgSemaforo{
  padding-top: 70%;
  width: 100%;
}

.botonNuevo{
  margin-left: 0%;
}

@media(max-width:1190px) {
  .botonNuevo{
    margin-left: 70%;
  }
}