.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.jumbotron2{
  margin-top: 2%;
  /* margin-left: -4%; */
  /* margin-right: 26%; */
  background-color: #ffffff; 
}

.botonNuevo{
  float: right;
}

.rojo {
  background-color: red;
border-radius: 7px;
height: 30px;
width: 30px;
margin: 0px;
    
}

.amarillo{
  background-color: yellow;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}
.verde{
 
  background-color: green;
border-radius: 7px;
height: 30px;
width: 30px;
margin: 0px;
}
.gris{
  background-color: gray;
  border-radius: 7px;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.colores{
  margin-left: 5%;
  float: left;
}