<!DOCTYPE html>
<html lang="en">

<head>
    
</head>
<body>
      <div class="botonNuevo" *ngIf="rol == 'Administrador'|| rol == 'Recepcionista'">
        <button class="btn btn-primary" (click)="Crear()"  >Nuevo Cliente</button>
      </div>
      <h1 align='center'><strong>Clientes</strong></h1>
      <br>


      <div align='center'>

        <div class="colores">
            <div class="gris"></div>
            <p>Falta mas de un mes</p>
        </div>

        <div class="colores">
            <div class="verde"></div>
            <p>Menos de un mes para cumplir años</p>
        </div>

        <div class="colores">
            <div class="amarillo"></div>
            <p>Menos de una semana para cumplir años</p>
        </div>

        <div class="colores">
            <div class="rojo"></div>
            <p>Esta cumpliendo años</p>
        </div>

      </div>
      
      <!-- tabla de o lista de Cliente -->
      <table class="table table-striped">
        <!-- titulo de las columnas -->
        <thead> 
        <tr>
          
    
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Documento" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Nombres" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Apellidos" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Telefono" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Celular" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Correo" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Direccion" ></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.Edad"></th>
            <th scope="col"><input class="form-control" [(ngModel)]="searchObject.CiudadResidencia"></th>
            <th>&nbsp;</th>
            <th scope="col">
              <select class="form-control" [(ngModel)]="searchObject.Estado"  *ngIf="rol == 'Administrador'" >
                <option value="">Todos</option>
                <option value="1">Activos</option>
                <option value="0">Inactivos</option>
              </select>
            </th>
      
          
        </tr>
        <tr>
     
          <th><img src="../../../../assets/iconos/semaforo/2x/twotone_traffic_black_18dp.png" class="imgSemaforo"></th>
          <th scope="col">#</th>
          <th scope="col">Numero de cedula</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Telefono</th>
          <th scope="col">Celular</th>
          <th scope="col">Correo Electronico</th>
          <th scope="col">Direccion</th>
          <th scope="col">Edad</th>
          <th scope="col">Ciudad</th>
          <th>Accion</th>
          <th *ngIf="rol == 'Administrador'">Accion</th>
        
          
        </tr>
      </thead>
      <tbody>
        <!-- informacion de la tabla o listado de empleados  -->
        <tr *ngFor="let Cliente of ObtenerDato() | arrayFilter : 
          { 
            Documento:   searchObject.Documento,  
            Nombres:  searchObject.Nombres,
            Apellidos:searchObject.Apellidos,
            Telefono: searchObject.Telefono,
            Celular:  searchObject.Celular,
            Correo:   searchObject.Correo,
            Direccion:searchObject.Direccion,
            Edad:     searchObject.Edad,
            Estado:   searchObject.Estado,
            CiudadResidencia:   searchObject.CiudadResidencia
          }"
        >
         
          <td scope="col"><div [ngClass]="{'rojo':Cliente.color === 1,'amarillo': Cliente.color === 0,'verde': Cliente.color === 2,'gris': Cliente.color === 3}"></div></td>
          <td scope="col">{{Cliente.IdCliente}}</td>
          <td scope="col">{{Cliente.Documento}}</td>
          <td scope="col">{{Cliente.Nombres}}</td>
          <td scope="col"> {{Cliente.Apellidos}}</td>
          <td scope="col">{{Cliente.Telefono}}</td>
          <td scope="col">{{Cliente.Celular}}</td>
          <td scope="col">{{Cliente.Correo}}</td>
          <td scope="col">{{Cliente.Direccion}}</td>
          <td scope="col">{{Cliente.Edad}}</td>
          <td>{{Cliente.CiudadResidencia}}</td>
          <td scope="col"> <button type="button" class="btn btn-primary" (click)="EditarCliente(Cliente.IdCliente)">Ver</button>  </td>
          <td *ngIf="rol == 'Administrador'"> 
              <button type="button" class="btn btn-success" (click)="EliminarCliente(Cliente.IdCliente)" *ngIf="Cliente.Estado == '0'"   >Habilitar</button>
              <button type="button" class="btn btn-danger" (click)="EliminarCliente(Cliente.IdCliente)" *ngIf="Cliente.Estado == '1'"  >Inhabilitar</button>
          </td>
        </tr>
      </tbody>
      </table>
      <div align='center' >
        <div *ngIf="ClientesJSON==null" class="loader"></div>
      </div>
</body>
</html>
