/******************************************/
/* Acordeon */

#accordionMenu{
  padding: 0;
  margin: 0;
  text-align: center;
  width: 98%;
  background: rgb(5, 130, 197);
}

#contenedorMenu .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#contenedorMenu .sidebar-brand img {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contenedorMenu .sidebar-brand h4 {
  display: none;
  margin-top: 15px;
  color: #ffffff;
}

#accordionMenu {
  margin-top: 20%;
}

#accordionMenu .card{
  padding: 3%;
  margin: 0;
  text-align: left;
  border-radius: .60em;
  background: rgb(5, 130, 197);
  border: 1px solid rgba(255, 255, 255, 0.658);
}

#accordionMenu .card-header{
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.658);
  background: rgba(97, 85, 85, 0.507); 
}

#accordionMenu .card-body{
  padding: 2%;

}

#accordionMenu a{
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding-top: 5%;
  padding-bottom: 5%;
}

#accordionMenu a span .text{
  display: block;
}

#accordionMenu button{
  width: 100%;
  background: rgb(0, 112, 172);
  color: #ffffff;
}

#accordionMenu  button:hover,
                button:active,
                button:focus,
                a .text:hover,
                a .text:active,
                a .text:focus,
                a:hover {
  color: rgb(0, 0, 0);
  font-weight: bold;
  background: rgb(97, 200, 255);
  text-decoration: none;
}

/*
.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
} */



/* ************************************ */




.wrapper {
  text-align: center;
}


.botonMenu{
  display: none;
}


.sidebar-wrapper {
  z-index: 100;
  background: rgb(5, 130, 197);
  position: fixed;
  display: block;
  height: 100vh;
  width: 15%;
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.4s ease 0s;
}


.sidebar-wrapper2 {
  z-index: 100;
  background: rgb(5, 130, 197);
  position: fixed;
  display: block;
  height: 100vh;
  width: 15%;
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.4s ease 0s;
}

@media (max-width:960px){
  .sidebar-wrapper{
    width: 18%;
  }
  .sidebar-wrapper2{
    width: 18%;
  }
}

@media (max-width:700px){
  .sidebar-wrapper{
    width: 20%;
  }
  .sidebar-wrapper2{
    width: 20%;
  }
}

@media (max-width:575px) {

  .botonMenu{
    display: block;
    float: left;
    width: 0%;
    margin-top: 2.5%;
    margin-left: 3%;
  }

  .botonMenu img{
    width: 40px;
  }

  .botonMenu img:hover{
    background-color: rgb(97, 200, 255);
  }
  
  .sidebar-wrapper {
    background: rgb(5, 130, 197);
    position: sticky;
    display: block;
    height: 10vh;
    width: 104%;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.4s ease 0s;
    
  }

  nav{
    padding-left: 0%;
  }
  
  .sidebar-wrapper2 {
    background: rgb(5, 130, 197);
    position: sticky;
    display: block;
    height: 35vh;
    width: 104%;
    overflow-y: auto;
    overflow-x: auto;
    transition: all 0.4s ease 0s;
  }


  #contenedorMenu .sidebar-brand img {
    display: none;
    margin: 0px;
    width: 100%;
  }

  #contenedorMenu .sidebar-brand h4 {
    display: block;
  }

  #accordionMenu {
    margin-top: 3%;
  }

}