<!DOCTYPE html>
<html lang="en">
<body>
  <div class="wrapper">

    <!-- menu -->
    <div [ngClass]="{'sidebar-wrapper':tipoMenu==0 , 'sidebar-wrapper2':tipoMenu==1}">
      <nav>
        <div class="botonMenu">
          <img *ngIf="tipoMenu==0" src="../../assets/iconos/menu/b/2x/twotone_menu_white_48dp.png" (click)='cambio()'>
          <img *ngIf="tipoMenu==1" src="../../assets/iconos/x/b/2x/baseline_clear_white_18dp.png" (click)='cambio()'>
        </div>
      </nav>

      <div id="contenedorMenu">
        <div class="sidebar-brand">
          <img src="../../assets/imagenes/logo.jpg">
          <h4>Juricol</h4>
        </div>
        <nav id="accordionMenu">        
            <div class="card"  *ngFor="let grupo of nuevoMenu">
                <div class="card-header" id="heading_{{grupo.orden}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse_'+grupo.orden"  [attr.aria-expanded]="grupo.orden==1"  [attr.aria-controls]="'collapse_'+grupo.orden">
                            {{grupo.nombre}}
                        </button>
                    </h5>              
                </div>

                <div id="collapse_{{grupo.orden}}" [attr.class]="(grupo.orden==1)?'collapse show':'collapse'"  [attr.aria-labelledby]="'heading_'+grupo.orden" data-parent="#accordionMenu">
                  <div class="card-body">

                    <div *ngFor='let opcionActual of grupo.opciones'>
                      <a routerLink={{opcionActual.url}}>
                        
                        <span class="text"><span class="fa {{opcionActual.icon}}"></span>&nbsp;&nbsp;{{opcionActual.opcion}}</span>
                      </a>
                    </div>
                  </div>
                </div>
            </div>
            <div *ngIf="tipoMenu==0">
                <br><br><br><br><br><br>
              </div>
              <div *ngIf="tipoMenu==1">
                <br><br><br>
              </div>
            <div class="card">
              <div class="card-header">
                  <h5 class="mb-0">
                      <button class="btn" data-toggle="collapse" (click)="cerrarSesion()">
                        <span class="fa fa-sign-out ">&nbsp;&nbsp;Cerrar sesion</span>
                      </button>
                  </h5>
              </div>
            </div>
          </nav>
        </div>
    </div>
  </div>
</body>
</html>
