.wrapper {
  text-align: center;
}


hr{
  border-top: 1px solid rgba(255, 255, 255, 0.658);
}

.botonMenu{
  display: none;
}


.sidebar-wrapper {
  z-index: 100;
  background: rgb(0, 0, 0);
  position: fixed;
  display: block;
  height: 100vh;
  width: 15%;
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.4s ease 0s;
}


.wrapper.active #sidebar-wrapper {
  left: 0;
}

.sidebar-nav {
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  
}

.sidebar-nav li h4 {
    margin-top: 15px;
    color: #ffffff;
  }

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
  color: #000;
} 

.sidebar-wrapper2 {
  z-index: 100;
  background: rgb(0, 0, 0);
  position: fixed;
  display: block;
  height: 100vh;
  width: 15%;
  overflow-y: auto;
  overflow-x: auto;
  transition: all 0.4s ease 0s;
}

@media (max-width:575px) {

  .botonMenu{
    display: block;
    float: left;
    width: 0%;
    margin-top: 3%;
    margin-left: 3%;
  }

  .botonMenu img{
    width: 40px;
  }

  .botonMenu img:hover{
    background-color: #5c5c5c;
  }
  
  .sidebar-wrapper {
    background: #000;
    position: sticky;
    display: block;
    height: 10vh;
    width: 104%;
    overflow-y: hidden;
    overflow-x: auto;
    transition: all 0.4s ease 0s;
    
  }

  nav{
    padding-left: 0%;
  }
  
  .sidebar-wrapper2 {
    background: #000;
    position: sticky;
    display: block;
    height: 35vh;
    width: 104%;
    overflow-y: auto;
    overflow-x: auto;
    transition: all 0.4s ease 0s;
  }
}


/******************************************/
/* Acordeon */

#accordionMenu{
  padding: 0;
  margin: 0;
  text-align: center;
  width: 98%;
  background: rgba(0, 0, 0);
}

#contenedorMenu .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#contenedorMenu .sidebar-brand h4 {
  margin-top: 15px;
  color: #ffffff;
}

#accordionMenu .card{
  padding: 3%;
  margin: 0;
  text-align: left;
  border-radius: .60em;
  background: rgba(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.658);
}

#accordionMenu .card-header{
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.658);
  background: rgba(97, 85, 85, 0.507); 
}

#accordionMenu .card-body{
  padding: 2%;

}

#accordionMenu a{
  color: #999999;
  display: block;
  text-decoration: none;
  padding-top: 5%;
  padding-bottom: 5%;
}

#accordionMenu a span .text{
  display: block;
}

#accordionMenu button{
  width: 100%;
  background: rgba(255, 255, 255, 0); 
  color: #999999;
}

#accordionMenu  button:hover,
                button:active,
                button:focus,
                a .text:hover,
                a .text:active,
                a .text:focus {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

/*
.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
} */