<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <!-- modal contenedor -->
    <div id="id01" class="modal">
      <div class="modal-content animate">
        <!-- contenedor de imagen -->
        <div class="imgcontainer">
          <!-- <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span> -->
          <img src="../../assets/imagenes/logo.jpg" alt="Avatar" class="avatar">
        </div>
        <!-- contenedor de formulario para inicio de sesion -->
        <div *ngIf="error!=null" class="alert alert-danger" role="alert">
          {{error}}
        </div>
        <div class="container">
          <label><b>Usuario</b></label>
          <input type="number" class="form-control" [(ngModel)]="usuario" placeholder="Ingrese el nombre de usuario" required>
          <br>
          <label><b>Contraseña</b></label>
          <input type="password" class="form-control" [(ngModel)]="clave" placeholder="Ingrese la contraseña"  (keydown.enter)="verificar()" required>
        </div>
        <!-- contenedor para opdciones o botones -->
        <div class="container" style="background-color:#e2e2e2ee">
          <button *ngIf="estado==null || error != null"  (click)="verificar()">Ingresar</button>
          <button *ngIf="estado==1" ><i class="fa fa-spinner fa-spin"></i></button>
          <!-- <button (click)="Error()">error</button> -->
          <span class="psw"><a routerLink="/recuperarClave">Recuperar contraseña</a></span>
        </div>
      </div>
    </div>

</body>

</html>