<html>
  <head>
  </head>
<body>
    <div id="id01" class="modal">
        <div class="modal-content animate">
          <div class="imgcontainer">
            <span class="close" title="Close Modal" (click)="cerrarModal()">&times;</span>
          </div>
          <!-- contenedor del formulario -->
          <div class="container">
            <label>
              <h4 *ngIf="tipoAccion==false"><strong>Registrar estados para la demanda</strong></h4>
              <h4 *ngIf="tipoAccion==true"><strong>Editar estado</strong></h4>
            </label>
            <div *ngIf="error!=null" class="alert alert-danger" role="alert">
              {{error}}
            </div>
            <br>
            <br>
            <label><b>Nombre</b></label>
            <input type="text" class="form-control" [(ngModel)]="nombre" placeholder="Ingrese el nombre del estado" (keydown.enter)="guardarEstado()" required> 
            <br>
            <label>Tipo del estado</label>
            <select class="form-control" [(ngModel)]="tipo">
              <option value="null" disabled>Seleccione un tipo</option>
              <option value="EstadoElectronico">Estado Electronico</option>
              <option value="Fase">Fase</option>
            </select>
            <br>
            <label>Dias limite</label>
            <input type="number" class="form-control" [(ngModel)]="diasLimite" placeholder="Ingrese la cantidad de dias limites" (keydown.enter)="guardarEstado()">
          </div>
          <!-- contenedor de acciones o botones -->
          <div class="container" style="background-color:#e2e2e2ee">
            <button (click)="guardarEstado()">Registrar</button>
            <button class="cancelbtn" (click)="cerrarModal()">Cancelar</button>
          </div>
        </div>
      </div>


  <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
  (fileOver)="fileOverBase($event)"
  [uploader]="uploader"
  class="well my-drop-zone">
<br>
<div class="row justify-content-between">
 <div class="col-sm-8">
   <h1 align='right'>
     Procesador de PDF
   </h1>
 </div>
 <div class="col-sm-auto">
   <div class="row">
     <div class="col-sm-auto">
       <button class="btn btn-primary" (click)="abrirVentana(ventana)">Seleccionar archivo</button>
       <input hidden #ventana type="file" ng2FileSelect [uploader]="uploader" multiple><br/>
     </div>
   </div>
 </div>
</div>
<hr>
<div class="container">
   <table class="table">
     <thead>
     <tr>
       <th width="50%">Nombre</th>
       <th>Tamaño</th>
       <th>Progreso</th>
       <th>Acciones</th>
  
     </tr>
     </thead>
     <tbody>
     <tr *ngFor="let item of uploader.queue">
       <td><strong>{{ item?.file?.name }}</strong></td>
       <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
       <td *ngIf="uploader.options.isHTML5">
         <div class="progress" style="margin-bottom: 0;">
           <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
         </div>
       </td>
       <td nowrap>
         <button type="button" class="btn btn-success btn-xs"
                 (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
           <span class="glyphicon glyphicon-upload"></span> Subir
         </button>
         <button type="button" class="btn btn-warning btn-xs"
                 (click)="item.cancel()" [disabled]="!item.isUploading">
           <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
         </button>
         <button type="button" class="btn btn-danger btn-xs"
                 (click)="item.remove()">
           <span class="glyphicon glyphicon-trash"></span> Eliminar
         </button>
         
       </td>
     </tr>
     </tbody>
   </table>
 </div>
</div>
<h3 align='center'>Previsualizacion Demanda</h3>
<div class="botonNuevo" align='right'>
    <button class="btn btn-primary" (click)="activarModal('crear')">Nuevo estado</button>
  </div>
<div class="selects">
 
 <br>
 
 <!-- tabla de o lista de Cliente -->
 <table class="table table-striped">
   <!-- titulo de las columnas -->
   <thead>
   <tr>
     
     <th scope="col">#</th>
     <th scope="col">Radicado</th>
     <th scope="col">Demandante</th>
     <th scope="col">Demandado</th>
     <th scope="col">Titular</th>
     <th scope="col">Fecha Cambio</th>
     <th scope="col">Fecha Limite</th>
     <th scope="col">Estado Recibido</th>
     <th scope="col">Estado Sugerido</th>
     <th scope="col">Estado a Asignar</th>
     <th scope="col">Observaciones</th>
     <th scope="col">Descipcion</th>



   </tr>
 </thead>
 <tbody>
   <!-- informacion de la tabla o listado de empleados  -->
   <tr *ngFor="let Demanda of ObtenerDatos;let indice=index" >
   
     <td >{{Demanda.IdDemanda}}</td>
     <td>{{Demanda.NumDemanda}}</td>
     <td>{{Demanda.Demandante}}</td>
     <td>{{Demanda.Demandado}}</td>
     <td>{{Demanda.Titular}}</td>
     <td class="FechCambio">{{Demanda.FechaCambio}} </td>
     <td>

         <Input type="date" value="{{Demanda.FechaLimite}}" class="form-control fecha" [(ngModel)]="ObtenerDatos[indice].FechaLimite" ngDefaultControl> 
     </td>
     <td>{{Demanda.NuevoEstado}}</td>
     <td>{{Demanda.EstadoProbable}}</td>
     <td>  
       <select class="form-control" [(ngModel)]="ObtenerDatos[indice].Estado" [disabled]="ObtenerDatos[indice].Validacion" ngDefaultControl>
           <option value="0">--Eliga Un Estado--</option>
           <option value="{{estado.Id}}"  *ngFor="let estado of Estados">{{estado.Descripcion}}</option>
       </select>
    </td>
     <td>
       <div class="form-group">
         <textarea class="form-control" rows="3" disabled >{{Demanda.Observacion}}</textarea>
       </div>
     </td>
     <td>
       <div class="form-group">
         <textarea class="form-control" rows="3" [(ngModel)]="ObtenerDatos[indice].Descripcion" ></textarea>
       </div>
     </td>


 
   </tr>
 </tbody>
 </table>
</div>
 <div>

     <button type="button" class="btn btn-success btonS" (click)="ProcesarDatos()"  >Guardar</button>
     <button type="button" class="btn btn-danger btonD" (click)="Cancelar()" >Cancelar</button>
   </div>

<br>

  </body>
</html>